# Ambiente
NODE_ENV=development
PORT=3000

# Base de Datos
# Para Docker: usar "postgres"
# Para local: usar "localhost"
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=username
DB_PASSWORD=password
DB_NAME=database_name

DB_SYNCHRONIZE=true // set to false in production
DB_LOGGING=true // set to false in production

# JWT Authentication
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-this-in-production
